{% extends "primer_interface/primer_interface_base.html" %}

{% block title %}Completed Screeners | Ventureprime{% endblock %}

{% block section_title %}
<p>
	<h1>Completed Screeners</h1>
</p>
{% endblock %}

{% block sub_content %}
<p>
Top: show screeners they've been accepted for. On clicking on these, shows them options for picking a time slot (or proposing a new one)
</p>
<p>
Bottom: shows pending screeners they've filled out that they're waiting to hear if they've been accepted for
</p>
{% endblock %}
