{% extends "venture_interface/venture_interface_base.html" %}

{% block sub_content %}
<p>
<h4>Active Interview Left Dashboard</h4>
<ul>
	<li><a href='/accounts/venture/active_interviews/task_summary/'>Task Summary</a></li>
	<li><a href='/accounts/venture/active_interviews/completed_screeners/'>Completed Screeners</a></li>
	<li><a href='/accounts/venture/active_interviews/calendar_scheduling/'>Calendar & Scheduling</a></li>
	<li><a href='/accounts/venture/active_interviews/completed_interviews/'>Completed Interviews</a></li>
	
	<li><a href='/accounts/venture/active_interviews/results/'>Results</a></li>
</ul>
</p>
{% endblock %}
