{% extends "venture_interface/active_interviews_base.html" %}

{% block title %}Active Interviews - Calendar & Scheduling | VenturePrime{% endblock %}

{% block section_title %}
<p>
	<h1>Active Interviews - Calendar & Scheduling</h1>
</p>
{% endblock %}

{% block sub_sub_content %}
<p>
	Calendar of upcoming interviews goes here. Also shows the slots that they specified during interview creation (which have been taken, which are still available). Allows for synchronization with google calendar
</p>

{% endblock %}