{% extends "venture_interface/venture_interface_base.html" %}

{% block sub_content %}
<p>
<h4>Add Interviews Breadcrumbs</h4>
<ul>
	<li><a href='/accounts/venture/add_interviews/choose_package/'>Choose a Package</a></li>
	<li><a href='/accounts/venture/add_interviews/create_screener/'>Create a Screener</a></li>
	<li><a href='/accounts/venture/add_interviews/set_availability/'>Set Availability</a></li>
	<li><a href='/accounts/venture/add_interviews/checkout/'>Checkout</a></li>
</ul>
</p>
{% endblock %}
