{% extends "venture_interface/venture_interface_base.html" %}

{% block title %}Add Interviews - Confirmation | VenturePrime{% endblock %}

{% block section_title %}
<p>
	<h1>Confirmation</h1>
</p>
{% endblock %}

{% block sub_content %}
<p>
	Your payment has been received, and your screener/interview has been published! Your screener is now visible to primers who fit the demographic you specified.
</p>
<p>
	You can now manage your interview process from the <a href='/accounts/venture/active_interviews/task_summary/'>active interviews</a> tab.
</p>

{% endblock %}