{% extends "venture_interface/add_interviews_base.html" %}

{% block title %}Add Interviews - Create a Screener | VenturePrime{% endblock %}

{% block section_title %}
<p>
	<h1>Add Interviews - Create a Screener</h1>
</p>
{% endblock %}

{% block sub_sub_content %}
<p>
	User filters primers by demographic (that we collected from them during account creation), and then can build a custom screener (5 question cap). Once done, they <a href='/accounts/venture/add_interviews/set_availability/'>proceed to the set availability page</a>
</p>

{% endblock %}