{% extends "base/base.html" %}


{% block content %}
<p>
<h3>Venture Dashboard Options:</h3>
<ul>
	<li><a href='/accounts/venture/active_interviews/task_summary/'>Active Interviews</a></li>
	<li><a href='/accounts/venture/add_interviews/choose_package/'>Add Interviews</a></li>
	<li><a href='/accounts/venture/archive/'>Archive</a></li>
	<li><a href='/accounts/venture/inbox/'>Inbox</a></li>
	<li><a href='/accounts/venture/manual/'>Manual</a></li>
	<li><a href='/accounts/venture/account_settings/'>Account Settings</a></li>
</ul>
</p>


{% endblock %}

<br />
<br />
<br />